<div class="profile">
    <div>
        <div class="row">
            <div class="col-md-6">
                <h1 class="site-title">{{ site.title }}</h1>
                <p>
                    I have just completed my BSc(hons) in Computer Games Technology and am currently looking to enhance this with an MSc.
                    
                    <br>
                    <button type="button" class="btn btn-warning">
                        <a href="../assets/resume/Callum Truscott CV.pdf" download="Resume">Download CV</a>
                    </button>
                </p>
            </div>

            <div class="col-md-2"></div>
            <div class="col-md-4 profile-picture">
                <img src="./assets/img/logo.jpg" alt="" class="img-fluid rounded-circle d-none d-md-block about-img">
            </div>
        </div>
    </div>
</div>